# Dataset root directory gitattributes file
#------------------------------------------------
* annex.backend=MD5E
**/.git* annex.largefiles=nothing
metadata/aggregate* annex.largefiles=nothing
metadata/objects/** annex.largefiles=((largerthan=0))




# Directories to exclude from git-annex
#------------------------------------------------

**/code annex.largefiles=nothing
**/docs annex.largefiles=nothing

# Filetypes to exclude from git-annex
#------------------------------------------------

# Code
*.md annex.largefiles=nothing
*.qmd annex.largefiles=nothing
*.ipynb annex.largefiles=nothing

*.yml annex.largefiles=nothing
*.yaml annex.largefiles=nothing

# Figures
*.jpg annex.largefiles=nothing
*.jpeg annex.largefiles=nothing
*.png annex.largefiles=nothing
*.heic annex.largefiles=nothing
*.svg annex.largefiles=nothing

# Include in git-annex
#------------------------------------------------

# Raw Data
/data/raw/**/*.md annex.largefiles=nothing
/data/raw/**/*.csv annex.largefiles=((largerthan=50MB))
/data/raw annex.largefiles=((largerthan=0))

# Analyzed Data
/data/analysis/**/*.csv annex.largefiles=((largerthan=10MB))

# Research Output Data
/data/output annex.largefiles=((largerthan=10MB))

# Data files types
*.parquet annex.largefiles=((largerthan=0))
*.exe annex.largefiles=((largerthan=0))
*.sav annex.largefiles=((largerthan=0))

# Office files
*.docx annex.largefiles=((largerthan=0))
*.doc annex.largefiles=((largerthan=0))
*.xlsx annex.largefiles=((largerthan=0))
*.xlsm annex.largefiles=((largerthan=0))
*.xls annex.largefiles=((largerthan=0))
*.pptx annex.largefiles=((largerthan=0))
*.ppt annex.largefiles=((largerthan=0))

# All other binary files
* annex.largefiles=((mimeencoding=binary)and(largerthan=10MB))